@charset "utf-8";
*{margin:0;padding:0;}
ul,li{
list-style:none;
}
.chart-section{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}
.chart-legned{}
.chart-container {
    position: relative;
}
.chart-line {
    z-index:2;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.chart{}
.chart ul{
    display:flex;
    align-items:flex-end;
    justify-content:center;
    gap:10px;
    height:210px;
}
.chart-item-container{
    height:100%;
    overflow:hidden;
    position:relative;
    display:flex;
    align-items:flex-end;
    width:40px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}
.chart-item-container::before{
    content:"";
    display:block;
    width:100%;
    height:100%;
    background-color:rgba(209, 209, 209,0.15);
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}
.chart-item {
    z-index:1;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    background-color:#0de092;
    border-radius: 13px;
    transition: height 1s ease;
}

.chart-item-container:nth-child(odd) .chart-item{
    background-color:rgba(209, 209, 209,.5);
}

.mid-dot{
    z-index:2;
    display:block;
    position:absolute;
    left:50%;
    top:0;
    transform:translate(-50%,-50%);
    width:10px;
    height:10px;
    background-color:#000000;
    border-radius:100%;
    transition: opacity 1s ease;
    opacity: 0;
}
.mid-dot::before{
    content:"";
    position:absolute;
    left:50%;
    top:5px;
    transform:translate(-50%,-50%);
    width:20px;
    height:20px;
    background-color:rgba(0, 0, 0,0.2);
    border-radius:100%;
}

.chart-item-container:last-child .chart-item{}
.chart-item-container:last-child .mid-dot{
    background-color:white;
}